.body {font-family: Comic Sans MS, Comic Sans, cursive; font-size: 20px; color: white; line-height: 1.6em; margin-left: 40px; margin-top: 30px;}
.footer { clear: both; font-size: 20px; height: 120px; text-align: center; padding: 20px 0; color: #888; border-top: 1px dotted #ccc; color: white; }
